.container { 
	max-width: 768px;
}

span.header {
	font-size: 2em;
}

.auth-btn {
	float: right;
	margin-top: 10px;
}
.game_desc textarea{
	min-height: 140px;
	resize: vertical;
}
#signinButton {
	margin-top: 10px;
}
