{% extends 'base.html' %}
{% block content %}
<div class="row">
	<div class="col-sm-12">
	<h4>Add a game</h4>
	</div>
</div>
<form action="{{ url_for('addGame') }}" method='POST'>
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label for="genre">Genre:</label>
				<select name="genre" class="form-control">
					<!--Fill dropdown with genre name-->
					{% for genre in genres %}
					<option vaule="{{ genre.id }}"
						{% if genre_id == genre.id %}selected
						{% endif %}>{{ genre.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="form-group">
				<label for="title">Title:</label></br>
				<input name="title" class="form-control">
			</div>
		</div>
		<div class="col-sm-12">
			<div class="form-group">
				<label for="description">Description:</label>
				<textarea class="form-control" name="description"></textarea>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="form-group">
				<input type="submit" class="btn btn-success"value="Add Game">
				<a class="pull-right" href="#">Cancel</a>
			</div>
		</div>
	</div>
</form>
{% endblock %}
