{% extends 'base.html' %}
{% block content %}
<div class="row">
	<div class="col-sm-12">
	<span class="header">Add a game</span>
	</div>
</div>
<form action="{{ url_for('addGame') }}" method='POST'>
	{{ form.csrf_token }}
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				{{ form.genre.label }}:
				{{ form.genre(class="form-control") }}
			</div>
		</div>
		<div class="col-sm-8">
			<div class="form-group">
				{{ form.title.label }}:
				{{ form.title(class="form-control") }}
			</div>
		</div>
		<div class="col-sm-12">
			<div class="form-group">
				{{ form.description.label }}:
				{{ form.description(class="form-control") }}
			</div>
		</div>
		<div class="col-sm-12">
			<div class="form-group">
				<input type="submit" class="btn btn-success"value="Add Game">
				<a class="pull-right" href="#">Cancel</a>
			</div>
		</div>
	</div>
</form>
{% endblock %}
