{% extends 'base.html' %}
{% block content %}
<div class="row">
	<div class="col-sm-12">
		<h4>Edit <em>{{ game.title }}</em></h4>
	</div>
</div>
<form action="{{ url_for('editGame', game_id=game.id) }}" method='POST'>
	{{ form.csrf_token }}
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				{{ form.genre.label }}:
				{{ form.genre(class="form-control") }}
			</div>
		</div>
		<div class="col-sm-8">
			<div class="form-group">
				{{ form.title.label }}:
				{{ form.title(class="form-control", value=game.title) }}
			</div>
		</div>
		<div class="col-sm-12">
			<div class="form-group">
				{{ form.description.label }}:
				{{ form.description(class="form-control", value=game.description) }}
			</div>
		</div>
		<div class="col-sm-12">
			<div class="form-group">
				<input type="submit" class="btn btn-success" value="Edit Game">
				<a class="pull-right" href="{{ url_for('home') }}">Cancel</a>
			</div>
		</div>
	</div>
</form>
{% endblock %}
